* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}

li {
    display: inline-block;
    text-align: center;
}